@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.login {
    padding: 0 90px;
    display: flex;
    align-items: center;
}


     .box {
             width: 300px;
             height: 450px;
             background: #fff;
             text-align: center;
             border-radius: 10px;
             font-size: 15px;  
             margin: 5px;
             box-shadow: 5px 5px 40px black;
         }

         .container {
            width: 100vw;
             height: 100vh;
             background: rgb(138, 5, 190);
             display: flex;
             flex-direction: row-reverse;
             justify-content: center;
             align-items: center;
             
         }
     
h3 {
    margin-top: 50px;
    color: rgb(138, 5, 190);;
}

    /* INPUTS */
.inp1 {
    align-items: center;
    font-size: 14px;
    margin-top: 45px;
    border: none;
    border-bottom: 1px solid rgb(219, 215, 215);
    }

.inp2 {
    align-items: center;
    font-size: 14px;
    margin-top: 45px;
    border: none;
    border-bottom: 1px solid rgb(219, 215, 215);
}

.inp3 {
    align-items: center;
    font-size: 14px;
    margin-top: 45px;
    border: none;
    border-bottom: 1px solid rgb(219, 215, 215);
}

.buttom {
    font-weight: 700;
    padding: 0 25px;
    width: 150px;
    height: 60px;
    cursor: pointer;
    background: white;
    color:  rgb(138, 5, 190);
    border: 1px solid rgb(138, 5, 190);
    border-radius: 4px;
    margin-top: 70px;  
    
}

button:hover {
    background-color:rgb(195, 81, 240); /* Green */
    color: white;
}

/* INICIA OUTRA DIV */
.valor { 
    margin-top: 50px;
}

.dis {
    
    font-size: 11px;
    margin: 20px;
    width: 200px;
    height: 0px;
    
    text-align: left;
    
}

 .resultado {
    position: relative;
    text-align: left;
    margin-right: 0 auto;
    font-size: 25px;
    width: 250px;
    margin-left: 20px;
}

.barra {
    margin-left: 20px;
    width: 30px;
    height: 2px;
    background:rgb(138, 5, 190);
    transition: width 0.90s;
}

.buttom2 {
    font-weight: 700;
    padding: 0 25px;
    width: 150px;
    height: 60px;
    cursor: pointer;
    background: white;
    color:  rgb(138, 5, 190);
    border: 1px solid rgb(138, 5, 190);
    border-radius: 4px;
    margin-top: 70px;
}
